Chameleon==2.11
Jinja2==2.7
Mako==0.7.3
MarkupSafe==0.15
Paste==1.7.5.1
PasteDeploy==1.5.0
Pygments==1.6
Tempita==0.5.1
WebError==0.10.3
WebOb==1.2.3
pymongo==2.4.2
pyramid==1.4
pyramid-debugtoolbar==1.0.6
pyramid-jinja2==1.6
repoze.lru==0.6
repoze.tm2==1.0
transaction==1.4.1
translationstring==1.1
venusian==1.0a7
wsgiref==0.1.2
zope.deprecation==4.0.2
dwdwcczope.interface==4.0.5
